* {
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

input:focus { 
    outline: none !important;
    border-color: rgb(53, 189, 199);
    border-radius: 2%;
}
textarea:focus { 
    outline: none !important;
    border-color: rgb(53, 189, 199);
    border-radius: 2%;
}

.frame {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 1.5px solid rgba(57, 57, 112, 0.2);
    overflow: hidden;
    margin-bottom: 40px;
}

.selfie {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 4% 0%;
}

.initials h2 {
    font-family: "Cherry Cream Soda", sans-serif;
    font-weight: 400;
    color: rgb(20, 20, 40);
    font-size: 36px;
}

.initials h2:hover {
    color: rgb(35, 10, 110);
}


.nav-bar {
    background-color: rgb(240, 240, 240);
    display: block;
    font-size: 25px;
    overflow: hidden;
}

.nav-bar .initials {
    height: 45px;
    float: left;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 20px;
}

.nav-bar li {
    display: inline-block;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    font-family: "Goldman", sans-serif;
}

.nav-bar li:nth-child(3) {
    padding-right: 10px;
}

.nav-bar li:hover {
    font-weight: 700;
    color: rgb(53, 189, 199);
}

.nav-bar ul {
    margin-top: 8px;
    margin-right: 12px;
    float: right;
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
}

.fname {
    color: rgb(53, 189, 199);
}

.fname:hover {
    color: rgb(240, 240, 240);
}


.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(86deg, rgba(2,0,36,1) 0%, rgba(96,93,189,1) 35%, rgba(0,212,255,1) 100%); 
}

.welcome-section h1 {
    color: rgb(249, 249, 249);
    font-family: "Quantico", sans-serif;
}

.welcome-section h4 {
    color: rgb(249, 249, 249);
    font-family: "Quantico", sans-serif;
}

.container {
    display: flex;
    background-color: rgb(240, 240, 240);
}

.project-img {
    width: 150px;
    height: 100px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    float: right;
    min-width: 360px;
    width: 40%;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(287deg, rgba(2,0,36,1) 0%, rgba(53,189,199,1) 96%, rgba(0,212,255,1) 100%);  
    align-items: center;
    justify-content: center;
}


.form-label {
    font-family: "Quantico", sans-serif;
}

.form-container h3{
    font-family: "Quantico", sans-serif;
    font-size: 18pt;
    font-weight: 700;
    text-align: center;
    margin: 20px 0px 30px 0px;
}

.form-container h3:hover {
    color:rgb(53, 189, 199);
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    border-radius: 1%;
    background-color: rgb(250, 250, 250);
    color:rgb(53, 189, 199);
    border: 2px solid rgb(167, 144, 157);
    width: 350px;
    height: 475px;
}

.form-input {
    font-family: "Bellato", sans-serif;
    font-size: 12px;
    width: 98.75%;
    min-height: 25px;
    margin: 0px 0px 20px 0px;
}

.form-styling2 {
    margin-top: 10px;
}

.form-input-msg {
    width: 98.75%;
    min-height: 165px;
    resize: none;
}

textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: rgb(130, 130, 130);
}

.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border-radius: 2px;
    cursor: pointer;
}

.icon-container {
    display: flex;
    margin-top: 60px;
}

.projects {
    float: left;
    min-width: 300px;
    width: 60%;
    height: 100vh;
    background-color: rgb(249, 249, 249);
}

.grid-wrapper {
    display: grid;
    gap: 0px;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 12fr 12fr;
}


.imgg-size {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.p-header {
    font-family: "Forum", sans-serif;
    letter-spacing: -.7px;
    font-size: 15pt;
    font-weight: bolder;
    color:rgb(53, 189, 199);
    margin: 20px 0px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.project-img1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.project-img2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.project-img3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.project-img4 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

.copyright {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 65px;
    background-color: rgb(240, 240, 240);
}

.copyright a {
    font-family: "Quantico", sans-serif;
    margin-right: 25px;
}

.copyright a:hover {
    color:rgb(53, 189, 199);
}
